.mix
  %h3= mix.full_title
  .air-date= mix.air_date.try(:to_date)
  .mixesdb_url= link_to mix.mixesdb_url

  .associations
    = render 'mixes/artists', artists: mix.artists if mix.artists.any?
    = render 'mixes/genres',  genres: mix.genres   if mix.genres.any?
    = render 'mixes/venues',  venues: mix.venues   if mix.venues.any?
    = render 'mixes/events',  events: mix.events   if mix.events.any?
